.s-hot-list .list .img{
    width: 75px;
    height: 75px;
}
.s-hot-list .list .img{margin-right:20px;}

.s-hot-list .list .cont{
    width: 150px;
}
.s-hot-list .list .img{
    margin-right: 0px;
}

.ce-link{
    background: url(../img/lunt-logo6.png) no-repeat;
    background-position: center;
    padding-left: 50px;
    margin-right:4px;
}
.s-news-list li .bot-mes i{
    color: #999;
}
.lunt-job{
	float: left;
}
.lunt-job i{
	font-size: 12px;
}
.lunt-bgr{
	margin-left: 0px;
}
.lunt-ly{float:left;position: static;
margin:7px 0 0 10px;}
.tiezxq-font{
	line-height: 26px;
	margin-top: 20px;
	padding-bottom: 140px;
	border-bottom: 1px solid #f2f2f2;
}
.b-le{
	float: left;
}
.fhui{
	float: right;
}
.bottom{
	overflow: hidden;
	padding-top: 30px;
}