.yiny {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    filter: alpha(opacity=50);
    /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5;
    /*Firefox私有，透明度50%*/
    opacity: 0.5;
    z-index: 100;
    display: none;
}

.yiny2 {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    filter: alpha(opacity=50);
    /*IE滤镜，透明度50%*/
    -moz-opacity: 0.5;
    /*Firefox私有，透明度50%*/
    opacity: 0.5;
    z-index: 100;
    display: none;
}

.f14 {
    font-size: 14px;
}

.borderbg {
    background: url(../img/help-b1.png) repeat-x;
    height: 12px;
    margin-top: -6px;
}

.page {
    overflow: hidden;
    cursor: pointer;
    margin-top: 60px;
    padding-left: 400px;
}

.page a {
    width: 70px;
    height: 34px;
    border: 1px solid #dfdfdf;
    color: #dfdfdf;
    font-size: 12px;
    line-height: 34px;
    text-align: center;
}

.page a.prev-p {
    margin-right: 5px;
}

.page a.next-p {
    margin-left: 5px;
}

.page a.active {
    color: #3c3c3c;
}

.page a,
.page .nub,
.page .ye,
.page .pager-r {
    float: left;
}

.page ul li {
    width: 34px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    border: 1px solid #dfdfdf;
    float: left;
}

.page ul {
    overflow: hidden;
}

.page .nub li.on {
    background-color: #009d4a;
    color: white;
    border: 1px solid #009d4a;
}

.page .page-r {
    font-size: 12px;
    color: #999;
    float: left;
}

.page .ye {
    margin-left: 30px;
    margin-right: 30px;
    line-height: 36px;
    font-size: 12px;
    color: #999;
}

.page .page-r input {
    width: 46px;
    height: 18px;
    text-align: center;
    margin: 0 5px 0 5px;
}

.page .page-r button {
    width: 68px;
    height: 35px;
    background-color: #009d4a;
    color: white;
    font-size: 14px;
    margin-left: 4px;
}

.cheap-info-boxinfo .vi-font12 {
    color: #999;
    font-size: 12px;
}

.vi-font12 {
    color: #999;
    font-size: 12px;
}

.getyhq {
    margin-top: 20px;
    position: relative;
}

.getyhq .youhq-click a {
    background: #f5f5f5 url(../img/shangp-down.png) no-repeat;
    border: 1px solid #e5e5e5;
    width: 156px;
    height: 30px;
    color: #009d4a;
    font-size: 14px;
    margin-left: 11px;
    padding-left: 9px;
    background-position: 140px center;
    cursor: pointer;
    display: block;
    line-height: 30px;
}

.getyhq .youhqxq {
    padding: 30px 18px 0 30px;
    background: #fff;
}

.getyhq-yb {
    position: absolute;
    left: -169px;
    top: 32px;
    display: none;
}

.getyhq .youhqxq-2 {
    width: 299px;
    height: 50px;
    border-bottom: 1px dashed #dbdbdb;
    padding-bottom: 20px;
}

.youhqxq .youhqxq-2 .span1 a {
    color: #ff9c14;
    font-size: 12px;
    vertical-align: top;
}

.youhqxq .youhqxq-2 .span1 {
    font-size: 48px;
    color: #ff9c14;
    float: left;
}

.youhqxq .youhqxq-2 .span2-out {
    float: left;
    margin: 6px 0px 0 5px;
}

.youhqxq .youhqxq-2 .span2-out span {
    font-size: 16px;
    display: block;
}

.youhqxq .youhqxq-2 .btn {
    float: right;
    width: 72px;
    height: 32px;
    border: 1px solid #e5e5e5;
    background: #f5f5f5;
    font-size: 12px;
    color: #666;
    margin-top: 12px;
}

.cheap-info-box1-r {
    overflow: visible;
}

.youhqxq .youhqxq-2 .span2 {
    font-size: 48px;
    color: #ff9c14;
}

.youhqxq .youhqxq-2 .span3 {
    font-size: 48px;
    color: #ff9c14;
}

.shangp-fenx a.fx {
    background: url(../img/img-134.png) no-repeat;
    padding-left: 24px;
    margin-right: 40px;
}

.shangp-fenx a.sc {
    background: url(../img/img-135.png) no-repeat;
    padding-left: 20px;
}

.shangp-fenx {
    position: absolute;
    left: 96px;
    bottom: 80px;
}

.shangp-fenx a.sc span {
    margin-left: 10px;
}

.shangp-fenx2 {
    position: absolute;
    left: 96px;
    bottom: 70px;
}

.shangp-fenx2 a.fx {
    background: url(../img/img-134.png) no-repeat;
    padding-left: 24px;
    margin-right: 40px;
}

.shangp-fenx2 a.sc {
    background: url(../img/img-135.png) no-repeat;
    padding-left: 20px;
}

.shangp-fenx2 a.sc span {
    margin-left: 10px;
}

.shangp-fenx2 a{
    font-size: 12px;

}
.shangp-fenx a{
    font-size: 12px;

}
.s-alert-sccess {
    z-index: 1003;
}

.martop {
    margin-top: 14px;
}

.cheap-info-down-l .hd li.cheap-load3 {
    float: right;
    border-right: none;
    border-left: 1px solid #e0e0e0;
    background: #f5f5f5;
}

.cheap-info-down-l .hd li.cheap-load3 a {
    background: url(../img/shangp-gouwc.png) no-repeat;
    padding-left: 30px;
    background-position: left center;
}

.cheap-info-box1 {
    border: none;
}

.cheap-info-box1-l {
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 998px;
    margin-bottom: 19px;
}

.cheap-info-doll {
    width: 567px;
    position: relative;
}

.cheap-info-box1-r {
    width: 187px;
    height: 550px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 19px;
}

.cheap-info-box1-r-tit{
}
.s-pro-combo {
    width: 1186px;
}

.cc-box h3 {
    margin-top: 23px;
}

.zuh .zuh-m-li .zuh-img {
    width: 138px;
    height: 166px;
}

.zuh .zuh-m-li {
    width: 504px;
    height: 167px;
    background: #fff;
}

.zuh-t {
    background: #f8f8f8;
    padding-top: 26px;
    padding-left: 33px;
    width: 1057px;
}

.zuh-t .zuh-title {
    margin: 0px 0 26px 0;
    font-size: 16px;
    color: #333;
}

.zuh-m-li .zuh-img {
    float: left;
}

.zuh-m-li .zuh-font {
    float: left;
}

.zuh-font {
    margin-left: 8px;
    margin-top: 23px;
}

.zuh-font h2 {
    font-size: 14px;
    color: #666;
    margin-bottom: 8px;
}

.zuh-font p {
    font-size: 14px;
    color: #ff9c18;
    margin-bottom: 22px;
}

.zuh-font p span {
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}

.zuh-font dl {
    position: relative;
}

.zuh-font dt {
    color: #999;
}

.zuh-font dt,
.zuh-font dd {
    float: left;
}

.zuh-font dt {
    width: 56px;
    height: 30px;
    line-height: 30px;
}

.zuh-font dd {
    padding: 0 18px;
    height: 28px;
    border: 1px solid #dbdbdb;
    line-height: 28px;
    text-align: center;
    color: #666;
    position: relative;
    cursor: pointer;
}

.marright {
    margin-right: 16px;
}

.zuh-font dd.cur {
    border: 2px solid #ff9c18;
    height: 26px;
}

.zuh-font dd span {
    background: url(../img/img-119.png) no-repeat;
    width: 15px;
    height: 15px;
    position: absolute;
    right: -2px;
    bottom: -2px;
    display: none;
}

.zuh-font dd.cur span {
    display: block;
}

.zuh-m-li {
    margin-right: 17px;
    margin-bottom: 20px;
}

.zuh-title {
    width: 500px;
}

.zuh-b {
    overflow: hidden;
}

.zuh-b .number,
.zuh-b .num-box,
.zuh-all,
.zuh-b button {
    float: left;
}

.zuh-b .num-box .but-cut,
.zuh-b .num-box .but-num,
.zuh-b .num-box .but-add {
    float: left;
}

.zuh-b {
    padding: 18px 0;
    width: 450px;
    background: #484848;
    padding-left: 640px;
}

.zuh-b .number {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    color: white;
    margin-right: 12px;
}

.zuh-all {
    line-height: 30px;
    height: 30px;
    color: white;
    margin-right: 40px;
    margin-left: 20px;
}

.zuh-all span {
    font-size: 14px;
    color: #ff9c18;
}

.zuh-all i {
    color: #8e8e8e;
    text-decoration: line-through;
    margin-left: 12px;
}

.zuh-b button {
    width: 123px;
    height: 38px;
    background: #009d4a;
    font-size: 14px;
    color: white;
    margin-top: -5px;
}

.zuh-x {
    background: url(../img/zuh-x.png);
    width: 18px;
    height: 17px;
    position: absolute;
    right: 32px;
    top: 20px;
    cursor: pointer;
}

.zuh {
    position: fixed;
    left: 50%;
    margin-left: -545px;
    width: 1090px;
    top: 50%;
    margin-top: -258px;
    z-index: 101;
    display: none;
}

.xuanzgg {
    z-index: 103;
}

.my-sun-down {
    float: left;
}

.cheap-info-box1-r-tit11{
}