@charset "UTF-8";

/* CSS Document */

i {
    font-style: normal;
}

.w1190 {
    width: 1190px;
    margin: 0 auto;
    min-width: 1190px;
}

.s-ins-wrap {
    width: 100%;
    background-color: #f8f8f8;
}

.s-acti-news {
    padding-top: 36px;
    padding-bottom: 42px;
}

.s-acti-news .left-main {
    width: 834px;
}

.s-acti-news .left-main .scroll {
    width: 100%;
    position: relative;
}

.s-acti-news .left-main .scroll li {
    width: 834px;
    height: 394px;
    position: relative;
}

.s-acti-news .left-main .scroll li a {
    display: block;
    cursor: pointer;
}

.s-acti-news .left-main .scroll p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 770px;
    height: 54px;
    line-height: 54px;
    color: #fff;
    padding: 0 32px;
    font-size: 16px;
    background: url(../img/s_bg_01.png) repeat 0;
}

.s-acti-news .left-main .scroll .hd {
    position: absolute;
    bottom: 23px;
    right: 34px;
    height: 3px;
}

.s-acti-news .left-main .scroll .hd li {
    width: 17px;
    height: 3px;
    background-color: #8b8b8b;
    margin-left: 7px;
    cursor: pointer;
    text-indent: 999px;
    overflow: hidden;
    position: relative;
}

.s-acti-news .left-main .scroll .hd li.on {
    background-color: #fff;
}

.s-acti-news .right-main {
    width: 336px;
}

.s-acti-news .right-main .top-list {
    width: 334px;
    border: 1px solid #e9e9e9;
    margin-bottom: 19px;
}

.s-acti-news .right-main .top-list .list {
    width: 100%;
    background-color: #fff;
}

.s-acti-news .right-main .top-list .list li {
    width: 287px;
    padding: 14px 24px 0 23px;
    border-top: 1px solid #e9e9e9;
}

.s-acti-news .right-main .top-list .list li:hover p a {
    color: #009d4a;
}

.s-acti-news .right-main .top-list .list .img {
    display: block;
    width: 100%;
    height: 187px;
}

.s-acti-news .right-main .top-list .list p {
    line-height: 46px;
    font-size: 16px;
}

.s-acti-news .right-main .top-list .list p a {
    color: #444;
}

.s-acti-news .right-main .tit {
    width: 287px;
    padding-left: 23px;
    padding-right: 24px;
    line-height: 49px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #f4f4f4;
}

.s-acti-news .s-ins-navbox {
    margin-top: 20px;
}

.s-hot-list {
    width: 334px;
    border: 1px solid #e9e9e9;
}

.s-hot-list .list {
    width: 287px;
    background-color: #fff;
    padding-left: 23px;
    padding-right: 24px;
    border-top: 1px solid #e9e9e9;
}

.s-hot-list .list li {
    width: 287px;
    padding-top: 21px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #e5e5e5;
}

.s-hot-list .list li:hover .tt {
    color: #009d4a;
}

.s-hot-list .list .img {
    display: block;
    width: 93px;
    height: 60px;
    margin-top: 4px;
}

.s-hot-list .list .cont {
    width: 170px;
    margin-right: 10px;
}

.s-hot-list .list .cont p {
    line-height: 28px;
    color: #999;
}

.s-hot-list .list .tt {
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: #666;
}

.s-news-list {
    margin-top: 22px;
    width: 775px;
    padding: 0 29px 0 28px;
    border: 1px solid #e6e6e6;
    background-color: #fff;
    padding-bottom: 5px;
}

.s-news-list ul,
.s-news-list li {
    width: 100%;
}

.s-news-list li {
    border-bottom: 1px dashed #e5e5e5;
    padding: 23px 0;
}

.s-news-list li .img {
    margin-top: 10px;
}

.s-news-list li .cont {
    width: 547px;
}

.s-news-list li h3 {
    font-size: 18px;
    line-height: 38px;
}

.s-news-list li h3 a {
    color: #444;
}

.s-news-list li h3 a:hover {
    color: #009d4a;
}

.s-news-list li .time {
    width: 100%;
    height: 39px;
    line-height: 39px;
    background-color: #f4f4f4;
    font-family: "Arial";
    margin-top: 3px;
}

.s-news-list li .time .ct {
    margin-left: 25px;
    font-size: 14px;
}

.s-news-list li .time i {
    color: #999;
    font-size: 12px;
}

.s-news-list li .lab {
    margin-top: 8px;
    width: 420px;
}

.s-news-list li .lab p {
    line-height: 23px;
    padding-left: 24px;
}

.s-news-list li .lab .ft1 {
    background: url(../img/s_ico_02.png) no-repeat left center;
}

.s-news-list li .lab .ft2 {
    background: url(../img/s_ico_03.png) no-repeat left center;
}

.s-news-list li .link {
    display: block;
    width: 116px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: url(../img/s_bg_02.png) no-repeat center bottom;
    margin-top: 20px;
    font-size: 14px;
}

.s-news-list li .link:hover {
    background: url(../img/s_bg_02.png) no-repeat center top;
}

.s-news-list li .word {
    line-height: 22px;
    margin-top: 10px;
}

.s-news-list li .word a {
    color: #666;
}

.s-news-list li .word a:hover {
    color: #009d4a;
}

.s-news-list li .bot-mes {
    line-height: 28px;
    color: #999;
    margin-top: 14px;
}

.s-news-list li .bot-mes a.ce-link {
    color: #999;
    display: inline-block;
    margin-left: 36px;
    float: right;
}

.s-news-list li .bot-mes a.ce-link:hover {
    color: #666;
}

.s-news-list li .bot-mes i {
    color: #009d4a;
}

.s-news-list .page {
    width: 100%;
    text-align: center;
    margin-bottom: 64px;
}

.s-ins-navbox {
    width: 832px;
    border: 1px solid #e8e8e8;
    background-color: #f7f7f7;
}

.s-ins-navbox li {
    width: 104px;
    line-height: 40px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.s-ins-navbox li a {
    color: #666;
    display: block;
    height: 100%;
}

.s-ins-navbox li i {
    width: 13px;
    height: 10px;
    background: url(../img/s_ico_01.png) no-repeat center;
    position: absolute;
    bottom: -9px;
    left: 50%;
    margin-left: -6px;
    display: none;
}

.s-ins-navbox li.hover,
.s-ins-navbox li:hover {
    background-color: #009d4a;
}

.s-ins-navbox li.hover a,
.s-ins-navbox li:hover a {
    color: #fff;
}

.s-ins-navbox li.hover i,
.s-ins-navbox li:hover i {
    display: inline-block;
}

.s-news-info {
    padding-top: 26px;
}

.s-news-info .adver-img {
    display: block;
    height: 90px;
}

.s-news-info .s-info-cont {
    margin-top: 20px;
}

.s-news-info .s-left-cont {
    width: 735px;
    padding: 18px 51px 38px 46px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.s-news-info .s-left-cont h3 {
    font-size: 24px;
    color: #333;
    line-height: 76px;
}

.s-news-info .s-left-cont .img-ban {
    width: 100%;
    display: block;
}

.s-news-info .s-left-cont .msg {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.s-news-info .s-left-cont .msg ul {
    width: 110%;
}

.s-news-info .s-left-cont .msg li {
    width: 355px;
    margin-right: 27px;
    line-height: 38px;
    font-size: 14px;
    border-bottom: 1px solid #ccc;
}

.s-news-info .s-left-cont .butn-entr {
    display: block;
    width: 217px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    margin: 37px auto 0;
    color: #fff;
    background-color: #009d4a;
    font-size: 18px;
    border-radius: 3px;
    -webkit-transition: background 0.3s ease 0s;
    transition: background 0.3s ease 0s;
}

.s-news-info .s-left-cont .butn-entr:hover {
    background-color: #b30303;
}

.s-news-info .s-left-cont .word {
    margin-top: 38px;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
}

.s-news-info .s-left-cont .paging {
    width: 100%;
    border-top: 1px solid #e5e5e5;
    padding-top: 28px;
}

.s-news-info .s-left-cont .paging p {
    line-height: 24px;
    color: #999;
}

.s-news-info .s-left-cont .paging a {
    color: #666;
}

.s-news-info .s-left-cont .paging a:hover {
    color: #009d4a;
}

.s-news-info .titbox h3 {
    line-height: 28px;
}

.s-news-info .titbox .mess {
    width: 100%;
    padding-bottom: 19px;
    border-bottom: 1px solid #e5e5e5;
    padding-top: 22px;
    line-height: 28px;
    color: #999;
}

.s-news-info .titbox .share a {
    display: inline-block;
    width: 28px;
    height: 28px;
    margin: 0 0 0 10px;
    padding: 0;
    float: left;
}

.s-news-info .titbox .share .wx {
    background: url(../img/s_ico_04.jpg) no-repeat center;
}

.s-news-info .titbox .share .sina {
    background: url(../img/s_ico_05.jpg) no-repeat center;
}

.s-news-info .titbox .share .in {
    background: url(../img/s_ico_06.jpg) no-repeat center;
}

.s-news-info .titbox .share .more {
    margin: 0;
    background: url(../img/s_ico_07.jpg) no-repeat center;
}

.s-news-info .bot-recom {
    width: 834px;
    margin-top: 38px;
}

.s-news-info .bot-recom h3 {
    font-size: 16px;
    color: #444;
    line-height: 40px;
}

.s-news-info .bot-recom .list {
    margin-top: 10px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.s-news-info .bot-recom .list ul {
    width: 110%;
}

.s-news-info .bot-recom .list li {
    width: 207px;
    padding: 30px 25px 36px 27px;
    margin-right: 24px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
}

.s-news-info .bot-recom .list li:hover {
    border: 3px solid #009d4a;
    padding: 28px 23px 34px 25px;
}

.s-news-info .bot-recom .list li .img {
    display: block;
    width: 207px;
    height: 134px;
}

.s-news-info .bot-recom .list li a.tt {
    line-height: 32px;
    font-size: 14px;
    font-weight: bold;
    color: #444;
    margin-top: 9px;
    display: inline-block;
}

.s-news-info .bot-recom .list li a.tt:hover {
    color: #009d4a;
}

.s-opacity5 {
    background-color: #000;
    opacity: 0.5;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 9;
    position: absolute;
    display: none;
}

.s-alert-perfect {
    width: 570px;
    position: fixed;
    left: 50%;
    margin-left: -285px;
    top: 50%;
    min-height: 350px;
    margin-top: -175px;
    background-color: #fff;
    z-index: 10;
    display: none;
}

.s-alert-perfect .titbox {
    width: 546px;
    height: 53px;
    line-height: 53px;
    padding-left: 24px;
    background-color: #009d4a;
}

.s-alert-perfect .titbox h3 {
    font-size: 18px;
    color: #fff;
    float: left;
}

.s-alert-perfect .titbox .close {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    display: block;
    width: 62px;
    text-align: center;
    cursor: pointer;
}

.s-alert-perfect .cont {
    padding-top: 30px;
    width: 519px;
    margin: 0 auto;
    padding-bottom: 28px;
    border-bottom: 1px solid #e3e1e1;
    height: 125px;
}

.s-alert-perfect .cont .suc-ico {
    display: block;
    width: 130px;
    height: 111px;
    background: url(../img/img-93.png) no-repeat center;
    margin: 0 auto;
}

.s-alert-perfect .cont h3 {
    text-align: center;
    color: #333;
}

.s-alert-perfect .cont td.tt {
    width: 116px;
    padding-right: 20px;
    text-align: right;
    font-size: 14px;
}

.s-alert-perfect .cont .tex {
    border: 1px solid #d5d2d2;
    background-color: #fff;
    font-size: 14px;
    height: 15px;
    line-height: 14px;
    padding: 7px 10px;
    width: 290px;
}

.s-alert-perfect .bot-butn {
    width: 100%;
    padding-top: 30px;
    text-align: center;
}

.s-alert-perfect .bot-butn .btn {
    display: inline-block;
    width: 147px;
    height: 47px;
    line-height: 47px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    margin: 0 9px;
    font-size: 18px;
}

.s-alert-perfect .bot-butn .confirm {
    background-color: #009d4a;
    border: none;
}

.s-alert-perfect .bot-butn .cancel {
    background-color: #d5d5d5;
}


/******************圈子****************/

.s-circle-wrap {
    padding-top: 23px;
    padding-bottom: 64px;
}

.s-circle-wrap .s-ban {
    width: 100%;
    height: 226px;
}

.s-circle-wrap .out-wrap {
    width: 100%;
    margin-top: 27px;
}

.s-circle-wrap .left-wrap {
    width: 834px;
}

.s-circle-wrap .right-wrap {
    width: 336px;
}

.s-circle-wrap .right-wrap .release-link {
    display: block;
    height: 64px;
    line-height: 62px;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
    padding-left: 142px;
    width: 194px;
    background: url(../img/s_bg_03.jpg) no-repeat center;
}

.s-circle-wrap .right-wrap .tit {
    width: 287px;
    padding-left: 23px;
    padding-right: 24px;
    line-height: 49px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #f4f4f4;
}

.s-circle-wrap .s-hot-list {
    margin-top: 20px;
}

.s-circle-info .top-paging a.link {
    display: block;
    width: 113px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-left: 8px;
}

.s-circle-info .top-paging .reply {
    background-color: #009d4a;
}

.s-circle-info .top-paging .relea {
    background-color: #2b6fb9;
}

.s-circle-info .s-circle-list {
    width: 1188px;
    border-top: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
}

.s-circle-info .s-circle-list ul,
.s-circle-info .s-circle-list li {
    width: 100%;
}

.s-circle-info .s-circle-list li {
    border-bottom: 1px solid #e0e0e0;
    background: url(../img/s_bg_04.jpg) repeat-y center top;
}

.s-circle-info .s-circle-list .left-box {
    width: 189px;
    background-color: #fafafa;
}

.s-circle-info .s-circle-list .right-box {
    width: 915px;
    padding: 0 40px 0 42px;
    font-size: 14px;
    border-left: 1px solid #e0e0e0;
}

.s-circle-info .s-circle-list .right-box .cont {
    padding-top: 22px;
    min-height: 225px;
}

.s-circle-info .s-circle-list .right-box .bot-msg {
    line-height: 40px;
    height: 40px;
    width: 100%;
    padding-bottom: 16px;
    font-size: 14px;
    color: #999;
}

.s-circle-info .s-circle-list .right-box .bot-msg a {
    display: inline-block;
    color: #2b6fb9;
    margin-left: 26px;
}

.s-circle-info .s-circle-list .right-box .bot-msg .date {
    font-family: "Arial";
}

.s-circle-info .s-circle-list .right-box .bot-msg i {
    color: #009d4a;
    font-family: "Arial";
}

.s-circle-info .s-circle-list .s-tit {
    line-height: 52px;
}

.s-circle-info .s-circle-list .s-tit .left-box {
    text-align: center;
    color: #999;
}

.s-circle-info .s-circle-list .s-tit .left-box i {
    color: #009d4a;
}

.s-circle-info .s-circle-list .s-tit h2 {
    font-size: 20px;
    color: #333;
    line-height: 52px;
}

.s-circle-info .s-circle-list .s-tit .right-box {
    padding-top: 0;
    padding-bottom: 0;
    min-height: auto;
}

.s-circle-info .s-circle-list .mem-msg {
    width: 131px;
    padding: 37px 29px;
}

.s-circle-info .s-circle-list .mem-msg .pic {
    display: block;
    width: 120px;
    height: 120px;
    padding: 3px;
    border: 1px solid #e5e6e5;
    background-color: #fff;
}

.s-circle-info .s-circle-list .mem-msg .pic img {
    width: 120px;
    height: 120px;
}

.s-circle-info .s-circle-list .mem-msg .name {
    border-bottom: 1px solid #e1e1e1;
    margin-top: 8px;
}

.s-circle-info .s-circle-list .mem-msg .name a {
    display: inline-block;
    padding-left: 25px;
    color: #2b6fb9;
    line-height: 39px;
    background: url(../img/s_ico_10.png) no-repeat left center;
}

.s-circle-info .s-circle-list .mem-msg .font {
    line-height: 22px;
    color: #999;
    padding-top: 9px;
}

.s-circle-info .s-circle-list .mem-msg .font i {
    color: #444;
}

.s-circle-info .pgnation {
    padding-top: 29px;
    padding-bottom: 26px;
}

.s-circle-info .s-bot-reply {
    width: 1072px;
    padding: 28px 58px 45px;
    border: 1px solid #e0e0e0;
    background-color: #f3f3f3;
}

.s-circle-info .s-bot-reply h3 {
    padding-left: 48px;
    line-height: 42px;
    font-size: 18px;
    color: #555;
    background: url(../img/s_ico_11.png) no-repeat left center;
}

.s-circle-info .s-bot-reply .compile {
    padding-top: 8px;
}

.s-circle-info .s-bot-reply .bot-box {
    padding-top: 20px;
}

.s-circle-info .s-bot-reply .bot-box .font {
    font-size: 14px;
    color: #555;
    margin-top: -17px;
}

.s-circle-info .s-bot-reply .bot-box i {
    color: #009d4a;
}

.s-circle-info .s-bot-reply .bot-box .sub-btn {
    border: none;
    width: 113px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    color: #fff;
    background-color: #009d4a;
    font-size: 14px;
}

.s-rel-circle {
    width: 1188px;
    border: 1px solid #e0e0e0;
    background-color: #f3f3f3;
}

.s-rel-circle .titbox {
    padding-left: 28px;
    width: 1160px;
    height: 66px;
    line-height: 66px;
    padding-top: 8px;
    border-bottom: 1px solid #e0e0e0;
}

.s-rel-circle .titbox h3 {
    font-size: 18px;
    color: #555;
    padding-left: 47px;
}

.s-rel-circle .cont {
    width: 1100px;
    padding: 20px 60px 42px 28px;
}

.s-rel-circle .cont td.tt {
    padding-right: 14px;
    width: 100px;
    font-size: 16px;
    color: #555;
    line-height: 46px;
    text-align: right;
}

.s-rel-circle .cont input.tex {
    border: 2px solid #e0e0e0;
    font-size: 14px;
    height: 15px;
    line-height: 14px;
    color: #999;
    padding: 14px 16px 13px;
    width: 950px;
    background-color: #fff;
}

.s-rel-circle .cont input.s-tex {
    width: 168px;
}

.s-rel-circle .cont .code-img {
    display: block;
    margin-left: 5px;
}

.s-rel-circle .cont .code-font {
    line-height: 46px;
    display: inline-block;
    margin-left: 14px;
    color: #999;
    font-size: 14px;
}

.s-rel-circle .cont .code-font a {
    color: #2b6fb9;
}

.s-rel-circle .cont input.butn {
    border: none;
    width: 113px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    color: #fff;
    float: left;
    margin-right: 10px;
    font-size: 14px;
}

.s-rel-circle .cont input.sub-btn {
    background-color: #009d4a;
}

.s-rel-circle .cont input.cancel {
    background-color: #bbb;
}

.header-center-box .s-cir-tit {
    margin-top: 36px;
    line-height: 46px;
    font-size: 24px;
    font-weight: bold;
    display: inline-block;
    margin-left: 38px;
}

.s-circle-pers {
    width: 1188px;
    border: 1px solid #e0e0e0;
    background: url(../img/s_bg_04.jpg) repeat-y center top;
}

.s-circle-pers .left-cont {
    width: 190px;
}

.s-circle-pers .left-cont .tit {
    display: block;
    width: 100%;
    line-height: 45px;
    text-align: center;
    background-color: #555353;
    color: #fff;
    font-size: 14px;
}

.s-circle-pers .left-cont .pers-msg {
    padding-top: 30px;
}

.s-circle-pers .left-cont .picbox {
    display: block;
    width: 120px;
    height: 120px;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #e5e6e5;
    margin: 0 auto;
}

.s-circle-pers .left-cont .name {
    color: #2b6fb9;
    text-align: center;
    line-height: 28px;
    margin-top: 16px;
}

.s-circle-pers .left-cont .linkbox {
    width: 180px;
    margin: 10px auto 0;
}

.s-circle-pers .left-cont .linkbox li {
    width: 59px;
    text-align: center;
    line-height: 22px;
    position: relative;
}

.s-circle-pers .left-cont .linkbox .line {
    display: block;
    width: 1px;
    height: 32px;
    position: absolute;
    right: 0;
    top: 5px;
    background-color: #e0e0e0;
}

.s-circle-pers .right-cont {
    width: 997px;
    border-left: 1px solid #e0e0e0;
}

.s-circle-pers .right-cont .tit-fir {
    height: 42px;
    border-bottom: 2px solid #e0e0e0;
    line-height: 42px;
}

.s-circle-pers .right-cont .tit-fir span {
    display: inline-block;
    width: 160px;
    border-bottom: 2px solid #009d4a;
    margin-bottom: -2px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.s-circle-pers .right-cont .tips {
    padding-top: 48px;
    padding-bottom: 54px;
    padding-left: 47px;
}

.s-circle-pers .right-cont .tips td {
    line-height: 28px;
    color: #444;
}

.s-circle-pers .right-cont .tips td.tt {
    color: #999;
    padding-right: 16px;
}

.s-circle-pers .right-cont .navbox {
    width: 100%;
    height: 42px;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #fbfbfb;
}

.s-circle-pers .right-cont .navbox a {
    display: block;
    width: 142px;
    border-right: 1px solid #e0e0e0;
    text-align: center;
    font-size: 14px;
    color: #333;
    font-weight: bold;
    float: left;
    line-height: 42px;
}

.s-circle-pers .right-cont .navbox a.hover {
    color: #009d4a;
    border-top: 2px solid #009d4a;
    margin-top: -1px;
    background-color: #fff;
    margin-bottom: -1px;
}

.s-circle-pers th {
    background-color: #f3f3f3;
    color: #666;
    font-size: 14px;
    height: 43px;
}

.s-circle-pers .tit-tr {
    border-bottom: none;
}

.s-circle-pers .theme-wrap {
    width: 928px;
    margin: 33px auto 0;
}

.s-circle-pers .theme-wrap tr {
    border-bottom: 1px dotted #e0e0e0;
}

.s-circle-pers .theme-wrap td {
    font-size: 14px;
    height: 58px;
    text-align: center;
}

.s-circle-pers .theme-wrap .tt {
    padding-left: 27px;
}

.s-circle-pers .theme-wrap a {
    color: #666;
}

.s-circle-pers .theme-wrap a:hover {
    color: #2b6fb9;
}

.s-circle-pers .theme-wrap .te-le {
    text-align: left;
}

.s-circle-pers .reply-wrap {
    width: 928px;
    margin: 33px auto 0;
}

.s-circle-pers .reply-wrap th {
    background-color: #f3f3f3;
    color: #666;
    font-size: 14px;
    height: 43px;
}

.s-circle-pers .reply-wrap .tt {
    padding-left: 27px;
}

.s-circle-pers .reply-wrap td {
    padding: 0 25px 0 27px;
    text-align: center;
}

.s-circle-pers .reply-wrap .te-le {
    text-align: left;
}

.s-circle-pers .reply-wrap tr.ct-tit {
    line-height: 38px;
    font-size: 14px;
}

.s-circle-pers .reply-wrap tr.ct-tit .tt {
    color: #2b6fb9;
}

.s-circle-pers .reply-wrap tr.box-tr {
    border-bottom: 1px dotted #e0e0e0;
}

.s-circle-pers .reply-wrap ul,
.s-circle-pers .reply-wrap li {
    width: 872px;
}

.s-circle-pers .reply-wrap li {
    margin-bottom: 18px;
    text-align: left;
}

.s-circle-pers .reply-wrap li .topbg {
    width: 100%;
    height: 6px;
    background: url(../img/s_bg_05.png) no-repeat center;
}

.s-circle-pers .reply-wrap li .cont {
    width: 840px;
    background-color: #fbfbfb;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    padding: 7px 15px 0;
}

.s-circle-pers .reply-wrap li .word {
    line-height: 32px;
}

.s-circle-pers .reply-wrap li .word a {
    color: #2b6fb9;
}

.s-circle-pers .reply-wrap li .date {
    line-height: 28px;
    color: #999;
    font-family: "Arial";
}

.s-discount-coup .s-navbox {
    width: 100%;
    height: 36px;
    border: 1px solid #e4e4e4;
    background-color: #f3f3f3;
    margin-top: 28px;
}

.s-discount-coup .s-navbox a {
    display: block;
    width: 155px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #333;
    border-right: 1px solid #e4e4e4;
    float: left;
}

.s-discount-coup .s-navbox a:hover,
.s-discount-coup .s-navbox a.hover {
    color: #fff;
    background-color: #009d4a;
    border-radius: 1px solid #009d4a;
    height: 38px;
    line-height: 38px;
    margin-top: -1px;
    margin-left: -1px;
    width: 156px;
}

.s-discount-coup .demand-box {
    width: 100%;
    line-height: 28px;
    margin-top: 30px;
}

.s-discount-coup .demand-box .sele {
    width: 174px;
    height: 26px;
    margin-right: 40px;
    padding-left: 4px;
}

.s-discount-coup .demand-box .sele option {
    padding-left: 4px;
}

.s-discount-coup .demand-box .datebox {
    width: 124px;
    height: 28px;
    position: relative;
}

.s-discount-coup .demand-box .datebox .ico {
    display: block;
    width: 15px;
    height: 17px;
    background: url(../img/s_ico_12.png) no-repeat center;
    position: absolute;
    right: 8px;
    top: 5px;
}

.s-discount-coup .demand-box .date {
    width: 110px;
    font-size: 12px;
    line-height: 12px;
    height: 13px;
    padding: 7px 6px 6px;
    border: 1px solid #d1d1d1;
}

.s-discount-coup .demand-box .to {
    display: inline-block;
    line-height: 28px;
    width: 15px;
    text-align: center;
}

.s-discount-coup .demand-box .sub-btn {
    border: none;
    width: 100px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    border-bottom: 2px solid #a80202;
    background-color: #009d4a;
    color: #fff;
    font-size: 14px;
    margin-left: 19px;
}

.s-discount-coup .s-list {
    margin-top: 28px;
}

.s-discount-coup .s-list th {
    height: 37px;
    background-color: #f7f7f7;
    font-size: 14px;
}

.s-discount-coup .s-list tr {
    border-bottom: 1px dotted #eee;
}

.s-discount-coup .s-list td {
    text-align: center;
    height: 54px;
}

.s-discount-coup .s-list td.gray {
    color: #bcbcbc;
}

.s-member-wrap .s-mem-msg {
    padding-top: 37px;
    padding-bottom: 35px;
}

.s-member-wrap .s-mem-msg .s-pic-box {
    width: 130px;
    position: relative;
    height: 130px;
}

.s-member-wrap .s-mem-msg .pic {
    display: block;
}

.s-member-wrap .s-mem-msg .pic img {
    display: block;
    width: 100%;
    height: 130px;
}

.s-member-wrap .s-mem-msg .file-btn {
    display: block;
    width: 100%;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #444;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
}

.s-member-wrap .s-mem-msg .s-right {
    width: 728px;
}

.s-member-wrap .s-mem-msg .fir-row {
    line-height: 33px;
}

.s-member-wrap .s-mem-msg .fir-row .name {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    display: inline-block;
    margin-right: 33px;
}

.s-member-wrap .s-mem-msg .fir-row .phone {
    display: inline-block;
    margin-right: 25px;
}

.s-member-wrap .s-mem-msg .fir-row .verify {
    display: inline-block;
    padding-left: 23px;
    background: url(../img/s_ico_13.png) no-repeat left center;
    color: #999;
}

.s-member-wrap .s-mem-msg .sec-row {
    margin-top: 5px;
    line-height: 28px;
}

.s-member-wrap .s-mem-msg .sec-row .price {
    display: inline-block;
    margin-right: 30px;
}

.s-member-wrap .s-mem-msg .sec-row .red {
    color: #d00000;
}

.s-member-wrap .s-mem-msg .order-num {
    margin-top: 14px;
    padding-top: 18px;
    border-top: 1px solid #e0e0e0;
    line-height: 32px;
    font-size: 14px;
    display: inline-block;
}

.s-member-wrap .s-mem-msg .order-num a {
    display: inline-block;
    margin-right: 35px;
    float: left;
}

.s-member-wrap .s-mem-msg .order-num i {
    color: #009d4a;
}

.s-member-wrap .s-sec-wrap {
    margin-top: 16px;
    padding-top: 10px;
    padding-bottom: 46px;
}

.s-member-wrap .s-sec-wrap .tab-list {
    width: 100%;
    margin-top: 21px;
}

.s-member-wrap .s-sec-wrap tr {
    border-bottom: 1px dotted #eee;
}

.s-member-wrap .s-sec-wrap th {
    height: 37px;
    line-height: 37px;
    background-color: #f7f7f7;
    font-size: 14px;
    color: #666;
}

.s-member-wrap .s-sec-wrap td {
    height: 56px;
    text-align: center;
}

.s-member-wrap .s-sec-wrap td.red {
    color: #009d4a;
}

.s-member-wrap .s-sec-wrap td.gray {
    color: #999;
}

.s-member-wrap .s-sec-wrap a.link {
    color: #005ea7;
}

.s-member-wrap .cent-imglink {
    display: block;
    margin-top: 20px;
    margin-bottom: 23px;
    width: 985px;
}

.s-member-wrap .cent-imglink img {
    display: block;
    width: 100%;
}

.recharge-pro {
    padding-top: 17px;
    padding-bottom: 26px;
}

.recharge-pro .scroll {
    position: relative;
    margin-top: 20px;
}

.recharge-pro .tempWrap {
    padding-left: 10px;
    margin-left: -10px;
}

.recharge-pro li {
    margin-top: 10px;
}

.recharge-pro .butn {
    width: 20px;
    height: 20px;
    border: 1px solid #bdbcbc;
    position: absolute;
    top: -62px;
    cursor: pointer;
    opacity: 0.6;
    filter: Alpha(opacity=60);
}

.recharge-pro .butn:hover {
    opacity: 1;
    filter: Alpha(opacity=100);
}

.recharge-pro .prev {
    background: url(../img/s_ico_14.png) no-repeat center;
    right: 26px;
}

.recharge-pro .next {
    background: url(../img/s_ico_15.png) no-repeat center;
    right: 0;
}

.s-myorder .demand-box {
    margin-top: 26px;
    line-height: 28px;
}

.s-myorder .demand-box .tex {
    border: 1px solid #d1d1d1;
    font-size: 12px;
    line-height: 12px;
    height: 13px;
    padding: 7px 6px 6px;
    width: 160px;
    color: #666;
}

.s-myorder .demand-box .num-tex {
    margin-right: 18px;
}

.s-myorder .demand-box .s-tex {
    margin-right: 22px;
    width: 100px;
}

.s-myorder .demand-box .date {
    width: 110px;
}

.s-myorder .demand-box .datebox {
    width: 124px;
    position: relative;
}

.s-myorder .demand-box .ico {
    display: inline-block;
    width: 15px;
    height: 17px;
    background: url(../img/s_ico_12.png) no-repeat center;
    position: absolute;
    right: 7px;
    top: 4px;
}

.s-myorder .demand-box .to {
    display: inline-block;
    width: 16px;
    line-height: 28px;
    text-align: center;
}

.s-myorder .demand-box .sub-btn {
    border-bottom: 2px solid #a80202;
    border-left: none;
    border-right: none;
    border-top: none;
    background-color: #009d4a;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    width: 100px;
}

.s-myorder .s-order-nav {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #f3f3f3;
    margin-top: 35px;
}

.s-myorder .s-order-nav a {
    display: inline-block;
    width: 135px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: #333;
    float: left;
}

.s-myorder .s-order-nav a.hover,
.s-myorder .s-order-nav a:hover {
    background-color: #009d4a;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.s-myorder .s-serve-nav {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #f3f3f3;
    margin-top: 35px;
}

.s-myorder .s-serve-nav a {
    display: inline-block;
    width: 127px;
    text-align: center;
    height: 36px;
    line-height: 36px;
    color: #333;
    float: left;
}

.s-myorder .s-serve-nav a.hover,
.s-myorder .s-serve-nav a:hover {
    background-color: #009d4a;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
}

.s-myorder .s-order-type {
    width: 100%;
    border: 1px solid #e4e4e4;
    margin-top: 10px;
}

.s-myorder .s-order-type td {
    height: 36px;
    line-height: 36px;
    padding: 0 2%;
    text-align: center;
}

.s-myorder .s-order-type td.tx-le {
    text-align: left;
}

.s-myorder .s-tab-list table {
    margin-top: 20px;
}

.s-myorder .s-tab-list th {
    background-color: #f9f9f9;
    height: 37px;
    line-height: 37px;
    font-weight: normal;
    background-color: #f9f9f9;
    padding: 0 18px;
}

.s-myorder .s-tab-list th .delete {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../img/s_ico_16.png) no-repeat center;
    margin-top: 11px;
    cursor: pointer;
}

.s-myorder .s-tab-list td {
    padding: 12px 18px;
    text-align: center;
}

.s-myorder .s-tab-list td .pro-box {
    width: 100%;
    margin-bottom: 10px;
}

.s-myorder .s-tab-list td .img {
    display: block;
    width: 82px;
    height: 82px;
    border: 1px solid #e4e4e4;
}

.s-myorder .s-tab-list td .cont {
    margin-left: 17px;
    padding-top: 10px;
    text-align: left;
}

.s-myorder .s-tab-list td .name {
    color: #666;
    line-height: 24px;
}

.s-myorder .s-tab-list td .name:hover {
    color: #009d4a;
}

.s-myorder .s-tab-list td .lab {
    color: #999;
}

.s-myorder .s-tab-list td .butn {
    border: 1px solid #e4e4e4;
    width: 70px;
    height: 22px;
    background-color: #f8f8f8;
    display: block;
    margin: 23px auto 0;
}

.s-myorder .s-tab-list td .link {
    line-height: 26px;
    display: block;
}

.s-myorder .s-tab-list td .link:hover {
    color: #009d4a;
}

.s-order-info .sale-right-box {
    padding-bottom: 60px;
    padding-top: 5px;
}

.s-order-info .fir-wrap {
    padding-top: 15px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e4e4e4;
}

.s-order-info .fir-wrap td {
    line-height: 31px;
}

.s-order-info .fir-wrap a.butn {
    display: inline-block;
    width: 98px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #e4e4e4;
    font-size: 14px;
    color: #333;
}

.s-order-info .fir-wrap a.butn:hover {
    background: #009d4a;
    color: #fff;
}

.s-order-info .fir-wrap a.link {
    display: inline-block;
    margin-left: 25px;
    line-height: 30px;
    font-size: 14px;
    color: #333;
}

.s-order-info .fir-wrap a.link:hover {
    color: #cc0000;
}

.s-order-info h3 {
    font-size: 14px;
    color: #333;
    line-height: 34px;
}

.s-order-info .red {
    color: #cc0000;
}

.s-order-info .sec-wrap {
    padding-top: 20px;
}

.s-order-info .sec-wrap table {
    margin-top: 3px;
}

.s-order-info .sec-wrap th {
    background-color: #f7f7f7;
    font-size: 14px;
    color: #666;
    height: 37px;
    padding: 0 9px;
}

.s-order-info .sec-wrap tr {
    border-bottom: 1px solid #e4e4e4;
}

.s-order-info .sec-wrap tr.tt {
    border-bottom: none;
}

.s-order-info .sec-wrap td {
    height: 55px;
    text-align: center;
    padding: 0 9px;
}

.s-order-info .thi-wrap {
    padding-top: 30px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e4e4e4;
}

.s-order-info .thi-wrap .word {
    line-height: 30px;
    margin-top: 8px;
}

.s-order-info .fou-wrap {
    padding-top: 20px;
}

.s-order-info .fou-wrap .font {
    line-height: 42px;
}

.s-evalu-wrap h3 {
    font-size: 16px;
    color: #333;
    line-height: 48px;
    font-weight: bold;
}

.eva-grade td{
    font-size: 14px;
    font-weight: bold;
}
.s-evalu-wrap .s-order-msg {
    padding-top: 20px;
}

.s-evalu-wrap .s-ord-tit {
    border: 1px solid #e4e4e4;
}

.s-evalu-wrap .s-ord-tit td {
    text-align: center;
    height: 36px;
}

.s-evalu-wrap .s-ord-list {
    margin-top: 9px;
    padding-bottom: 22px;
    border-bottom: 1px solid #e4e4e4;
}

.s-evalu-wrap .s-ord-list th {
    background-color: #f9f9f9;
    height: 38px;
    font-weight: normal;
    padding: 0 4px;
}

.s-evalu-wrap .s-ord-list th .date {
    font-family: "Arial";
    display: inline-block;
    margin-right: 10px;
}

.s-evalu-wrap .s-ord-list td {
    padding: 12px 20px;
    text-align: center;
}

.s-evalu-wrap .s-ord-list td.tex-lt {
    text-align: left;
}

.s-evalu-wrap .s-ord-list .img {
    display: block;
    width: 82px;
    height: 82px;
    border: 1px solid #e4e4e4;
    margin-right: 17px;
}

.s-evalu-wrap .s-ord-list .img img {
    display: block;
    width: 82px;
    height: 82px;
}

.s-evalu-wrap .s-ord-list .name {
    width: 175px;
    height: 35px;
    margin-top: 20px;
   display: block;
    overflow: hidden;

    

}

.s-evalu-wrap .s-ord-list .name:hover {
    color: #009d4a;
}

.s-evalu-wrap .s-ord-list td.gray {
    color: #999;
}

.s-evalu-wrap .s-eva-sec {
    padding-top: 9px;
}

.s-evalu-wrap .s-eva-sec .sign {
    line-height: 24px;
    color: #999;
    display: block;
    padding-bottom: 22px;
    border-bottom: 1px solid #e4e4e4;
}

.s-evalu-wrap .s-eva-sec .eva-grade {
    padding-top: 20px;
    padding-bottom: 26px;
    border-bottom: 1px solid #e4e4e4;
}

.s-evalu-wrap .s-eva-sec .eva-grade .tit {
    line-height: 32px;
    font-size: 14px;
    color: #333;
}

.s-evalu-wrap .s-eva-sec .star {
    display: inline-block;
    width: 25px;
    height: 24px;
    background: url(../img/s_ico_17.png) no-repeat center;
    margin-right: 8px;
    cursor: pointer;
}

.s-evalu-wrap .s-eva-sec .star.on {
    background: url(../img/s_ico_18.png) no-repeat center;
}

.s-evalu-wrap .s-eva-sec .eva-word-desc {
    padding-top: 30px;
    padding-bottom: 58px;
}

.s-evalu-wrap .s-eva-sec .eva-word-desc .tit {
    line-height: 14px;
    font-size: 14px;
    color: #333;
}

.s-evalu-wrap .s-eva-sec .eva-word-desc .area-box {
    width: 798px;
    position: relative;
}

.s-evalu-wrap .s-eva-sec .eva-word-desc .area {
    width: 766px;
    padding: 15px 15px 42px;
    height: 227px;
    border: 1px solid #e0e0e0;
}

.s-evalu-wrap .s-eva-sec .eva-word-desc .bot-size {
    line-height: 42px;
    font-size: 14px;
    position: absolute;
    bottom: 0;
    left: 15px;
}

.s-evalu-wrap .s-eva-sec .eva-word-desc .bot-size i {
    color: #009d4a;
}

.s-evalu-wrap .s-eva-sec .upload-box {
    margin-top: 14px;
}

.s-evalu-wrap .s-eva-sec .upload-box .file-btn {
    display: block;
    width: 49px;
    height: 28px;
    line-height: 28px;
    padding-left: 38px;
    color: #fff;
    background: url(../img/s_ico_19.png) no-repeat 15px center #2b6fb9;
    cursor: pointer;
}

.s-evalu-wrap .s-eva-sec .upload-box .file {
    display: none;
}

.s-evalu-wrap .s-eva-sec .upload-box .font {
    color: #999;
    display: inline-block;
    margin-left: 9px;
    line-height: 28px;
}

.s-evalu-wrap .s-eva-sec .all-sub-btn {
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #a80202;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 197px;
    background-color: #ff9c18;
    color: #fff;
    font-size: 20px;
    margin-top: 28px;
}


/********************商品详情套餐******************/

.s-pro-combo {
    margin-top: 19px;
    width: 1188px;
    border: 1px solid #e0e0e0;
    background-color: #fff;
}

.s-pro-combo h3 {
    font-size: 14px;
    color: #ff9c18;
    font-weight: normal;
    line-height: 48px;
    width: 160px;
    border-top: 2px solid #ff9c18;
    margin-top: -1px;
    text-align: center;
}

.s-pro-combo .pro-box {
    margin-top: 4px;
    margin-left: 30px;
}

.s-pro-combo .pro-box .img {
    display: block;
    width: 154px;
    height: 154px;
}

.s-pro-combo .pro-box li.proli {
    width: 154px;
}

.s-pro-combo .pro-box li.proli h4 {
    width: 154px;
    overflow: hidden;
    color: #666;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.s-pro-combo .pro-box li.proli .tt {
    line-height: 33px;
    text-align: center;
    font-size: 16px;
    color: #fb8514;
}

.s-pro-combo .pro-box li.plus {
    width: 67px;
    line-height: 154px;
    font-size: 18px;
    text-align: center;
}

.s-pro-combo .right-box {
    width: 280px;
    padding-top: 10px;
}

.s-pro-combo .right-box .fir-price {
    line-height: 24px;
}

.s-pro-combo .right-box .red {
    color: #ff9c18;
}

.s-pro-combo .right-box .red b {
    font-size: 24px;
    font-family: "Arial";
    font-weight: normal;
}

.s-pro-combo .right-box .prov {
    display: inline-block;
    height: 24px;
    text-align: center;
    background-color: #777;
    color: #fff;
    font-size: 14px;
    padding: 0 8px;
    line-height: 24px;
}

.s-pro-combo .right-box .sec-price {
    line-height: 28px;
    color: #999;
    font-size: 14px;
}

.s-pro-combo .right-box .sec-price .form {
    text-decoration: line-through;
}

.s-pro-combo .right-box .buy {
    color: white;
    font-size: 16px;
    margin-top: 7px;
    text-align: center;
    width: 180px;
    height: 40px;
    background: #ff9c18;
    display: inline-block;
    line-height: 40px;
}

.s-pro-combo .right-box .car {
    display: block;
    width: 180px;
    height: 40px;
    background: url(../img/img-55.jpg) no-repeat center;
    margin-top: 12px;
}

.s-alert-sccess {
    width: 447px;
    height: 207px;
    padding: 9px;
    background: url(../img/s_bg_06.png) no-repeat center;
    position: fixed;
    z-index: 10;
    left: 50%;
    margin-left: -233px;
    top: 50%;
    margin-top: -113px;
    display: none;
}

.s-alert-sccess .close {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/s_ico_21.png) no-repeat center;
    position: absolute;
    right: 14px;
    top: 16px;
    cursor: pointer;
}

.s-alert-sccess .sign {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/s_ico_20.png) no-repeat center;
    margin: 33px auto 0;
}

.xuanzgg .close {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(../img/s_ico_21.png) no-repeat center;
    position: absolute;
    right: 14px;
    top: 16px;
    cursor: pointer;
}
.xuanzgg h3 {
    font-weight: normal;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 42px;
    margin-top: 21px;
}

.cc-box .sign2 {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/s_ico_213.png) no-repeat center;
    margin: 33px auto 0;
}

.xuanzgg .sign3 {
    display: block;
    width: 48px;
    height: 48px;
    background: url(../img/s_ico_202.png) no-repeat center;
    margin: 33px auto 0;
}

.s-alert-sccess h3 {
    font-weight: normal;
    font-size: 24px;
    color: #333;
    text-align: center;
    line-height: 42px;
}

.s-alert-sccess p {
    line-height: 30px;
    font-size: 14px;
    text-align: center;
}

.s-alert-sccess p a {
    color: #2b6fba;
    text-decoration: underline;
}


/****************账户安全************/

.s-acc-safety .top-word {
    font-size: 14px;
    line-height: 26px;
    padding-top: 25px;
    padding-bottom: 34px;
    border-bottom: 1px solid #e0e0e0;
}

.s-acc-safety .sale-right-box {
    padding-bottom: 45px;
}

.s-acc-safety .list {
    border-top: 1px solid #e0e0e0;
}

.s-acc-safety .list li,
.s-acc-safety .list ul {
    width: 100%;
}

.s-acc-safety .list li {
    padding-top: 26px;
    padding-bottom: 23px;
    border-bottom: 1px solid #e0e0e0;
}

.s-acc-safety .list .tt {
    display: inline-block;
    padding-left: 27px;
    font-size: 16px;
    font-weight: bold;
    line-height: 36px;
    margin-top: 4px;
}

.s-acc-safety .list .phone {
    background: url(../img/s_ico_22.png) no-repeat left center;
}

.s-acc-safety .list .email {
    background: url(../img/s_ico_25.png) no-repeat left center;
}

.s-acc-safety .list .pass {
    background: url(../img/s_ico_26.png) no-repeat left center;
}

.s-acc-safety .list .name {
    background: url(../img/s_ico_27.png) no-repeat left center;
}

.s-acc-safety .list .state {
    display: inline-block;
    padding-left: 23px;
    line-height: 36px;
    margin-top: 4px;
    margin-left: 15px;
}

.s-acc-safety .list .state.suc {
    color: #63a810;
    background: url(../img/s_ico_23.png) no-repeat left center;
}

.s-acc-safety .list .state.def {
    color: #e1bb7a;
    background: url(../img/s_ico_24.png) no-repeat left center;
}

.s-acc-safety .list .word {
    display: block;
    width: 378px;
    line-height: 24px;
    color: #999;
    margin-left: 90px;
}

.s-acc-safety .list .btn-link {
    width: 82px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    background-color: #d9d9d9;
    color: #777;
    margin-top: 11px;
    border-radius: 3px;
}

.s-acc-safety .list .sub-box {
    padding-top: 21px;
    border-top: 3px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    padding-bottom: 36px;
    background-color: #fafafa;
    margin-bottom: -23px;
    margin-top: 23px;
    display: none;
}

.s-acc-safety .list .sub-box h3 {
    font-size: 18px;
    line-height: 42px;
    text-align: center;
}

.s-acc-safety .list .sub-box .bot-btn {
    width: 100%;
    height: 37px;
    margin-top: 20px;
}

.s-acc-safety .list .sub-box .bot-btn a.butn {
    display: block;
    width: 113px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    color: #fff;
}

.s-acc-safety .list .sub-box .bot-btn .confirm {
    background-color: #009d4a;
    margin-left: 328px;
    margin-right: 10px;
}

.s-acc-safety .list .sub-box .bot-btn .cancel {
    background-color: #bbb;
}

.s-acc-safety .list .bind-sub {
    padding-left: 76px;
    padding-top: 32px;
}

.s-acc-safety .list .bind-sub td.tt-s {
    padding-right: 20px;
    text-align: right;
    font-size: 14px;
}

.s-acc-safety .list input.tex {
    border: 1px solid #ccc;
    font-size: 14px;
    height: 15px;
    line-height: 14px;
    width: 260px;
    padding: 8px 10px 7px 10px;
    color: #333;
}

.s-acc-safety .list input.verify-btn {
    border: none;
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #666;
    margin-left: 23px;
}

.s-acc-safety .list input.app-butn {
    width: 197px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid #a80202;
    background-color: #009d4a;
    text-align: center;
    color: #fff;
    font-size: 18px;
}


/*********************购物车******************/

.shopcar-wrap {
    width: 1190px;
    background-color: #fff;
    margin-bottom: 50px;
}

.shopcar-wrap .top-flow {
    margin-bottom: 30px;
}

.shopcar-wrap .top-flow img {
    display: block;
}

.shopcar-wrap .titbox {
    width: 100%;
    line-height: 42px;
}

.shopcar-wrap .titbox h3 {
    font-size: 16px;
    color: #333;
    display: inline-block;
    margin-bottom: -1px;
}

.shopcar-wrap .tab-list {
    margin-top: 24px;
    border-top: 2px solid #999;
    margin-bottom: 38px;
}

.shopcar-wrap .tab-tit {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.shopcar-wrap .tab-tit .all-sele {
    display: inline-block;
    margin-left: 18px;
    line-height: 35px;
}

.shopcar-wrap .tab-tit .all-sele .check {
    margin-top: 12px;
}

.shopcar-wrap .tab-tit .all-sele .font {
    margin-left: 10px;
}

.shopcar-wrap .tab-tit td {
    height: 35px;
    line-height: 35px;
    background-color: #f7f7f7;
    text-align: center;
}

.shopcar-wrap .tab-tit td.ft-le {
    text-align: left;
}

.shopcar-wrap .tab-tit .t1 {
    margin-left: 118px;
}

.shopcar-wrap .car-tab {}

.shopcar-wrap .car-tab tr {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.shopcar-wrap .car-tab th {
    background-color: #fff;
    height: 47px;
    line-height: 47px;
    font-weight: normal;
}

.shopcar-wrap .car-tab th .check {
    margin-left: 18px;
    margin-top: 18px;
}

.shopcar-wrap .car-tab th .name-shop {
    margin-left: 15px;
    color: #444;
    font-size: 12px;
}

.shopcar-wrap .car-tab td {
    padding-top: 26px;
    padding-bottom: 28px;
    background-color: #fdfdfd;
    text-align: center;
}

.shopcar-wrap .car-tab .check-one {
    margin-left: 28px;
    margin-top: 32px;
}

.shopcar-wrap .car-tab .img {
    display: block;
    width: 76px;
    height: 76px;
    border: 1px solid #e9e9e9;
    margin-left: 12px;
}

.shopcar-wrap .car-tab .word {
    width: 245px;
    margin-left: 32px;
    text-align: left;
}

.shopcar-wrap .car-tab .pro-name:hover {
    color: #009d4a;
}

.shopcar-wrap .car-tab .refe {
    color: #999;
    display: block;
    margin-top: 5px;
}

.shopcar-wrap .car-tab .f14 {
    font-size: 14px;
    font-family: "Arial";
    color: #666;
}

.shopcar-wrap .car-tab .red {
    color: #e4393c;
    display: inline-block;
}

.shopcar-wrap .car-tab .dele {
    color: #666;
    cursor: pointer;
}

.s-member-wrap .s-sec-wrap a.link:hover {
    color: #C40001;
}

.shopcar-wrap .car-tab .num-btn {
    display: inline-block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    border: 1px solid #ccc;
    color: #333;
    margin-top: 3px;
    cursor: pointer;
}

.shopcar-wrap .car-tab .cut {
    margin-left: 32px;
}

.shopcar-wrap .car-tab .num-inp {
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: "Arial";
    line-height: 14px;
    height: 15px;
    padding: 4px 15px 3px;
    display: inline-block;
    margin: 0 5px;
    width: 34px;
    text-align: center;
}

.shopcar-wrap .bot-price-box {
    border: 1px solid #ddd;
    margin-top: -1px;
}

.shopcar-wrap .bot-price-box .main {
    background-color: #f7f7f7;
    height: 63px;
    line-height: 63px;
}

.shopcar-wrap .bot-price-box .lab {
    display: inline-block;
    margin-left: 18px;
}

.shopcar-wrap .bot-price-box .all-check {
    margin-top: 20px;
    margin-right: 10px;
}

.shopcar-wrap .bot-price-box .dele-all {
    display: inline-block;
    padding-left: 16px;
    color: #333;
    margin-left: 21px;
}

.shopcar-wrap .bot-price-box .sum-price {
    margin-right: 40px;
    font-size: 20px;
    color: #ff9c18;
    margin-left: 18px;
}

.shopcar-wrap .bot-price-box .sele-pro {
    margin-right: 26px;
    margin-left: 320px;
}

.shopcar-wrap .bot-price-box .sele-pro i {
    color: #ff9c18;
    font-size: 14px;
}

.shopcar-wrap .bot-btn {}

#sum-price-all {
    color: #ff9c18;
    font-size: 20px;
}

.shopcar-wrap .bot-btn .link {
    display: block;
    width: 140px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    color: white;
    font-size: 16px;
    margin-right: 6px;
    background-color: #3d3d3d;
    margin-top: 10px;
}

.shopcar-wrap .bot-btn .sub-btn {
    background-color: #009d4a;
    height: 42px;
    line-height: 42px;
    text-align: center;
    width: 140px;
    font-size: 16px;
    color: #fff;
    border: none;
    margin-top: 10px;
}

.shopcar-wrap .recharge-pro {
    position: relative;
    padding: 17px 10px 0;
    margin-left: -10px;
}

.shopcar-wrap .recharge-pro .bd {
    position: relative;
    /*overflow: hidden;*/
}

.shopcar-wrap .recharge-pro li {
    margin-right: 10px;
}

.shopcar-wrap .recharge-pro .butn {
    top: -40px;
}

.shopcar-wrap .recharge-pro .next {
    right: 10px;
}

.shopcar-wrap .recharge-pro .prev {
    right: 36px;
}


/*# sourceMappingURL=sjj.css.map */
