.f14 {
    font-size: 14px;
}

.borderbg {
    background: url(../img/help-b1.png) repeat-x;
    height: 12px;
    margin-top: -6px;
}

button.sbend {
   position: absolute;
    width: 84px;
    height: 37px;
    background-color: #646562;
    cursor: pointer;
    font-size: 14px;
    color: white;
    font-weight: bold;
    vertical-align: middle;
    text-align: center;
    line-height: 35px;
    top:34px;
    right: 0px;
}

.header .logoBar table{
    position: absolute;left: 200px;
    top:34px;
}

/*banner*/
        .stores-banner{
            position: relative;
        }
        .stores-banner-img {
            margin: 0 auto;
        }
        
        .stores-banner-img1 {
            background: url(../img/img-29.jpg);
            width: 1920px;
            height:630px;
            margin: 0 auto;
            border-top: 2px solid #009d4a;
        }
        .stores-banner-img2 {
            background: url(../img/img-29.jpg);
            width: 1920px;
            height:630px;
            margin: 0 auto;
            border-top: 2px solid #009d4a;
        }
        .stores-banner-img3 {
            background: url(../img/img-29.jpg);
            width: 1920px;
            height:630px;
            margin: 0 auto;
            border-top: 2px solid #009d4a;
        }

        .stores-banner-tab{
            position: absolute;
            bottom:20px;
            left: 50%;
            margin-left: -78px;

        }
        .stores-banner-tab li{
            width: 27px;height: 4px;
            background-color: #fff;
            float: left;
            margin-right: 7px;
        }
        .stores-banner-tab li.on{
            background-color: #009d4a;
        }
        .stores-banner-tab ul{
            overflow: hidden;
        }