.f14 {
    font-size: 14px;
}

.borderbg {
    background: url(../img/img-2.png) repeat-x;
    height: 12px;
    margin-top: -6px;
}
.shop-know-te1-tit span{
border-bottom:3px solid #009d4a; 
}
.shop-know-lc{
	background: url(../img/sjrz-img-129.png);
	width: 1190px;
	height: 35px;
}
.shop-know-lc2{
	background: url(../img/sjrz-img-130.png);
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}
.shop-know-lc4{
	background: url(../img/sjrz-img-132.png);
	width: 1190px;
	height: 35px;
	margin: 0 auto;
}
.shop-table-input3{
	background: #009d4a;
}
.shop-table-input2{
	margin-right: 2px;
}
.shop-book-sp-rr{
	margin-left:40px;
}
.w197 input{
	background: #009d4a;
}
.shop-book-box{
	min-height: 740px;
}
.shop-know-te1-tit{
	margin-top: 20px;
}
.service-l-wip{
	border-top: none;
}
.z3-box span{
	width: 940px;
	color: #666;
}
.z3-box .z3-te1{
	font-size: 24px;
	color: #333;
}
.time span {
    float: left;
}

.time .time-span1 {
	position: relative;
}

.time .time-span2 {
    line-height: 30px;
    width: 28px;
    text-align: center
}

.time .time-span3{
	position: relative;
}
.time-input1{
	width:120px;
}

.time-input2{
	width:120px;
}
.ico {
    display: inline-block;
    width: 15px;
    height: 17px;
    background: url(../img/s_ico_12.png) no-repeat center;
    position: absolute;
    right: 7px;
    top: 4px;
}
.web_mem td span{
	color: #666;
	font-size: 12px;
}
.web_mem_inb{
	border:1px solid #e0e0e0;
}
.web_tablea1 textarea{
	border: 1px solid #e0e0e0;
}
.web_tablea1 p{
	color: #666;
}
.checkbox-fl{
	float: left;
	height: 30px;
	margin: 1px;
}
.web_mem_inc{background: #009d4a;
line-height: 40px;}

.web_tablea2{
	color: #666;
}
.web_mem .web_mem_mor{
	color: #2e7ae1;
}
.sale{
	background: #fff;
}
.service-nav{
	background: #f8f8f8;
}