.f14 {
    font-size: 14px;
}

.borderbg {
    background: url(../img/img-2.png) repeat-x;
    height: 12px;
    margin-top: -6px;
}

.shop-know-te1-tit span {
    border-bottom: 3px solid #009d4a;
}

.shop-know-lc {
    background: url(../img/tous-img1.png);
    width: 1190px;
    height: 35px;
    margin-bottom: 20px;
}

.daifu-l {
    float: left;
    width: 486px;
    height: 100%;
    border-right: 1px solid #e0e0e0;
}

.daifu-l2 {
    float: left;
}

.daifk {
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.daifu-l h2 {
    width: 100%;
    height: 42px;
    background: #f9f9f9;
    color: #333;
    line-height: 42px;
    font-size: 16px;
}

.daifu-l h2 span {
    margin-left: 26px;
}

.daifu-l2 {
}

.tuik-m1 {
    overflow: hidden;
    padding: 26px 0 0 26px;
    border-top: 1px solid #e0e0e0;
}

.tuik-pro {
    width: 82px;
    height: 82px;
    border: 1px solid #e4e4e4;
    float: left;
}

.tuik-int {
    float: left;
    width: 335px;
    height: 68px;
    padding: 14px 0 0 25px;
}

.tuik-int h3 {
    font-size: 14px;
    color: #666;
}

.tuik-int p {
    position: relative;
    margin-top: 33px;
    color: #666;
}

.tuik-int p span {
    position: absolute;
    right: 0px;
    color: #666;
}

.tuik-pro img {
    width: 100%;
    height: 100%;
}

.price {
    margin-left: 26px;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.daifu-l dl {
    height: 171px;
    border-top: 1px solid #e0e0e0;
    width: 460px;
    padding-left: 26px;
    padding-top: 21px;
}

.daifu-l dl dd {
    line-height: 36px;
    font-size: 14px;
    color: #666;
}

.daifu-l dl dd span {
    width: 70px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

.tuik-l-t {
    padding-bottom: 40px;
}
.daifu-l2 h2 {
    width: 702px;
    height: 42px;
    background: #f9f9f9;
    color: #333;
    line-height: 42px;
    font-size: 16px;
    border-bottom: 1px solid #e0e0e0;
}

.daifu-l2 h2 span {
    margin-left: 26px;
}
.sale-tablea-texta{
    width: 516px;
    height: 116px;
}
.sale-tablea{
    margin-left:30px;
}
.sale-tablea-suba{
    background: #009d4a;
    width: 100px;
    height: 30px;
    font-size: 14px;
    margin-left: 160px;
}

.tuik2-img{
        padding-left: 160px;
    }
.sale-tablea-fila-box{
    background: #f8f8f8;
    border: 1px solid #e0e0e0;
    color: #333;
}
.pushimg{
    width: 60px;
    height: 60px;
    border: 1px solid #e0e0e0;
}
.sale-tablea-spa{
    display: inline-block;
    width: 120px;
}
.sale-tablea-tea{
    margin-left: 134px;
    font-size: 12px;
}

.tuik2-img td{
    width: 62px;
    height: 62px;
}
.sale-tablea-ina{
    width:150px;
}