.f14 {
    font-size: 14px;
}

.borderbg {
    background: url(../img/img-2.png) repeat-x;
    height: 12px;
    margin-top: -6px;
}

.shop-know-te1-tit span {
    border-bottom: 3px solid #009d4a;
}

.shop-know-lc {
    background: url(../img/tuik-img1.png);
    width: 1190px;
    height: 35px;
    margin-bottom: 20px;
}

.daifu-l {
    float: left;
    width: 486px;
    height: 100%;
    border-right: 1px solid #e0e0e0;
}

.daifu-l2 {
    float: left;
}

.daifk {
    overflow: hidden;
    border: 1px solid #e0e0e0;
}

.daifu-l h2 {
    width: 100%;
    height: 42px;
    background: #f9f9f9;
    color: #333;
    line-height: 42px;
    font-size: 16px;
}

.daifu-l h2 span {
    margin-left: 26px;
}

.daifu-l2 {
    padding: 140px 0 0 140px;
}

.tuik-m1 {
    overflow: hidden;
    padding: 26px 0 0 26px;
    border-top: 1px solid #e0e0e0;
}

.tuik-pro {
    width: 82px;
    height: 82px;
    border: 1px solid #e4e4e4;
    float: left;
}

.tuik-int {
    float: left;
    width: 335px;
    height: 68px;
    padding: 14px 0 0 25px;
}

.tuik-int h3 {
    font-size: 14px;
    color: #666;
}

.tuik-int p {
    position: relative;
    margin-top: 33px;
    color: #666;
}

.tuik-int p span {
    position: absolute;
    right: 0px;
    color: #666;
}

.tuik-pro img {
    width: 100%;
    height: 100%;
}

.price {
    margin-left: 26px;
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}

.daifu-l dl {
    height: 171px;
    border-top: 1px solid #e0e0e0;
    width: 460px;
    padding-left: 26px;
    padding-top: 21px;
}

.daifu-l dl dd {
    line-height: 36px;
    font-size: 14px;
    color: #666;
}

.daifu-l dl dd span {
    width: 70px;
    text-align: right;
    display: inline-block;
    margin-right: 10px;
}

.tuik-l-t {
    padding-bottom: 40px;
}

.daifu-l2 .kuang {
    border: 1px solid #f3e1ca;
    width: 187px;
    height: 187px;
    background-color: #fdf4e8;
    display: inline-block;
}
.daifu-l2 .kuang .logo1{
	background: url(../img/tuik-logo1.png) no-repeat;
	background-position: center 52px;
	padding-top: 124px;
	text-align: center;font-size: 18px;
	color: #666;
}